.hero {
    position: relative;
    overflow: hidden;
}

#starfield-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes subtleMove {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(25px) translateY(10px);
    }
    75% {
        transform: translateY(-15px);
    }
}

/* original base was half of the above, 15, 5, 7 */ 
@keyframes subtleMove2 {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(1px) translateY(1px);
    }
    75% {
        transform: translateY(-1px);
    }
}

@keyframes subtleMoveReverse {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(1px) translateY(-1px);
    }
    75% {
        transform: translateY(1px);
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px 0px rgba(255, 255, 255, 0.4);
    }
    50% {
        box-shadow: 0 0 20px 0px rgb(107, 117, 255);
    }
    100% {
        box-shadow: 0 0 5px 0px rgba(255, 255, 255, 0.4);
    }
}